@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>
<h3>PolyCare - Uma clínica à sua medida</h3>
<img src="~/Content/Images/bannerSobre.png" alt="Sobre" style="text-align:center"/>
<h5>Situada em Casais de Igreja, a PolyCare tem como objetivo satisfazer as necessidades dos seus clientes, com o maior rigor e profissionalismo possível.</h5>
<hr />
<h5>Para entrar na plataforma, necessita de se dirigir à clínica e informar o funcionário da sua ambição, informando-lhe as suas informações pessoais.</h5>
<h5>Existem dois tipos de contas: Pacientes e Médicos.</h5>
<h5>Para entrar na plataforma para criar Pacientes e Médicos, por favor entre com as seguintes credenciais para entrar com o perfil de Funcionário:</h5>
<h5><span class="glyphicon glyphicon-envelope"></span>Email: funcionario@mail.com</h5>

<h5><span class="glyphicon glyphicon-lock"></span>Password: 123qweASD#</h5>
<hr />
<h4>Disciplina: Tecnologias de Internet 2</h4>
<h4>Ano Letivo: 2016/2017</h4>
<h4>Docente: José Casimiro</h4>
<h4>Realizado por: Rafael Escudeiro</h4>
<img src="~/Content/Images/RafaelEscudeiro.jpg" alt="Sobre" style="text-align:center; width:150px; height:150px;" />