@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>
<h3>PolyCare - Uma clínica à sua medida</h3>

<p>Situada em Casais de Igreja, a PolyCare tem como objetivo satisfazer as necessidades dos seus clientes, com o maior rigor e profissionalismo possível.</p>
<p></p>
