@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>
<h3>PolyCare - Uma clínica à sua medida</h3>
<img src="~/Content/Images/bannerSobre.png" alt="Sobre" style="text-align:center"/>
<h5>Situada em Casais de Igreja, a PolyCare tem como objetivo satisfazer as necessidades dos seus clientes, com o maior rigor e profissionalismo possível.</h5>
<hr />
<h5>Para entrar na plataforma, necessita de se dirigir à clínica e informar o funcionário da sua ambição, informando-lhe as suas informações pessoais.</h5>
<h5>Existem dois tipos de contas: Pacientes e Médicos.</h5>
<h5>Para entrar na conta como Funcionário, por favor entre com as seguintes credenciais:</h5>
<h5><span class="glyphicon glyphicon-envelope"></span>Email: funcionario@mail.com</h5>

<h5><span class="glyphicon glyphicon-lock"></span>Password: 123qweASD#</h5>
