@{
    ViewBag.Title = "Contactos";
}
<h2>@ViewBag.Title</h2>
<h3>Endereço:</h3>

<address>
    PolyCare<br />
    Largo do Forno, 2200-000<br />
    Casais de Igreja
    <abbr title="Telefone">Telf:</abbr>
    249 791 262
</address>

<address>
    <strong>Geral:</strong>   <a href="mailto:polycare@mail.com">polycare@mail.com</a><br />
</address>